body {
    background: #ffc5e6;
    color: #ff257e;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 48px;
  }

.button {
    transition-duration: 0.1s;
    background-color: #ff257e;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
}

.buttonYes:hover {
    background-color: #fa9dd2;
}

.buttonNo:hover {
    background-color: #ffc5e6;
    color: #ffc5e6;
    cursor: default;
}

.container {
    margin-top: 40vh;
    text-align: center;
}

.message {
    font-size: 24px;
    margin-bottom: 20px;
}